 .u-section-1 {
  min-height: 480px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-align: left;
  margin: 53px calc(((100% - 1140px) / 2) + 137px) 0 calc(((100% - 1140px) / 2) + 76px);
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  width: 805px;
  margin: 34px auto 0;
}

.u-section-1 .u-image-1 {
  height: 182px;
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.625rem;
  font-family: "PT Serif";
  width: 909px;
  margin: -173px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 414px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -264px;
    margin-right: calc(((100% - 940px) / 2) + 192px);
    margin-left: calc(((100% - 940px) / 2) + -7px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -139px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    display: none;
    font-size: 30px;
    margin-top: 53px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
    font-size: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.75rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -169px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-top: -180px;
    font-size: 19px;
  }
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 210px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 21px;
  }
} .u-section-2 {
  min-height: 399px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 2px calc(((100% - 1140px) / 2) + 318px) 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-2 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 52px);
  height: 3px;
  transform-origin: left center 0px;
  margin: -21px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-family: "PT Serif";
  margin: 42px calc(((100% - 1140px) / 2) + 347px) 0 calc(((100% - 1140px) / 2) + 142px);
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  width: 691px;
  font-family: "PT Serif";
  margin: 33px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-family: "PT Serif";
  text-align: left;
  margin: 26px calc(((100% - 1140px) / 2) + 217px) 11px calc(((100% - 1140px) / 2) + 142px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 441px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 19px);
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 20px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 247px);
    margin-left: calc(((100% - 940px) / 2) + 42px);
  }

  .u-section-2 .u-text-3 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-4 {
    margin: 31px calc(((100% - 940px) / 2) + 117px) 53px calc(((100% - 940px) / 2) + 42px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    display: none;
  }
  .u-section-2 .u-text-1 {
    margin-top: 45px;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-line-1 {
    width: 70px;
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 69px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 40px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 27px);
    margin-top: -18px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .u-section-2 .u-text-4 {
    margin-top: 30px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 90px;
    margin-right: 0;
    margin-left: calc(((100% - 530px) / 2) + 35px);
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 530px) / 2) + 24px);
    margin-top: -14px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .u-section-2 .u-text-4 {
    margin-top: 31px;
    margin-left: 20px;
    margin-right: 0;
  }
} .u-section-3 {
  min-height: 286px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 22px calc(((100% - 1140px) / 2) + 370px) 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-3 .u-line-1 {
  display: none;
  width: calc(((100% - 1140px) / 2) + 52px);
  transform-origin: left center 0px;
  margin: -60px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  text-align: left;
  font-family: "PT Serif";
  width: 693px;
  margin: 79px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  width: 693px;
  margin: 33px auto 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-family: "PT Serif";
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  text-align: left;
  width: 693px;
  margin: 33px auto 14px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  text-decoration: underline !important;
  font-family: "PT Serif";
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 348px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 239px);
    margin-left: calc(((100% - 940px) / 2) + 53px);
  }

  .u-section-3 .u-line-1 {
    width: 115px;
    left: 0;
    top: 21px;
    position: absolute;
    margin: initial;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 48px;
    margin-right: calc(((100% - 940px) / 2) + 374px);
    margin-left: calc(((100% - 940px) / 2) + 139px);
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 52px;
    margin-right: calc(((100% - 940px) / 2) + 350px);
    margin-left: calc(((100% - 940px) / 2) + 139px);
  }

  .u-section-3 .u-text-4 {
    width: 662px;
    margin-top: 16px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-line-1 {
    height: 3px;
    margin: 0;
    width: 70px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2) + 29px);
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2) + 29px);
  }

  .u-section-3 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 {
    min-height: 0;
  }

  .u-section-4 .u-text-1 {
    top: 20px;
  }

  .u-section-4 {
    margin: 0;
  }

  .u-section-4 .u-list-1 {
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 30px !important;
  }

  .u-section-4 {
    display: none;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-line-1 {
    margin-top: -96px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 124px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -140px;
    margin-right: 189px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-line-1 {
    margin-top: -68px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 200px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -224px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: 320px;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  min-height: 637px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 23px calc(((100% - 1140px) / 2) + 370px) 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-4 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 52px);
  height: 3px;
  transform-origin: left center 0px;
  margin: -21px auto 0 0;
}

.u-section-4 .u-list-1 {
  width: 1032px;
  margin: 40px calc(((100% - 1140px) / 2) + 39px) 23px auto;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 532px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-4 .u-text-2 {
  font-family: "PT Serif";
  margin: 22px 0 0 113px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-family: "PT Serif";
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 40px;
  height: 31px;
  margin: -51px auto 0 40px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-4 .u-text-3 {
  font-family: "PT Serif";
  margin: 22px 0 0 113px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 40px;
  height: 31px;
  margin: -51px auto 0 40px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-4 .u-text-4 {
  font-family: "PT Serif";
  margin: 22px 0 0 113px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 40px;
  height: 31px;
  margin: -51px auto 0 40px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-4 .u-text-5 {
  font-family: "PT Serif";
  margin: 22px 0 0 113px;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 40px;
  height: 31px;
  margin: -51px auto 0 40px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 658px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 196px);
    margin-left: calc(((100% - 940px) / 2) + 59px);
  }

  .u-section-4 .u-line-1 {
    width: 115px;
    left: 2px;
    top: 41px;
    position: absolute;
  }

  .u-section-4 .u-list-1 {
    width: 890px;
    margin-top: 64px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 25px;
    margin-left: 139px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -52px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-right: 25px;
    margin-left: 139px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -52px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-right: 25px;
    margin-left: 139px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -52px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 27px;
    margin-right: 25px;
    margin-left: 139px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -52px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 35px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-line-1 {
    margin-top: 0;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -51px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -51px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: -51px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    margin-top: -51px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-5 {
  min-height: 760px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 2px calc(((100% - 1140px) / 2) + 419px) 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-5 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 52px);
  height: 3px;
  transform-origin: left center 0px;
  margin: -21px auto 0 0;
}

.u-section-5 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  font-family: "PT Serif";
  text-align: center;
  margin: 77px calc(((100% - 1140px) / 2) + 13px) 0 calc(((100% - 1140px) / 2) + 42px);
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: 65px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 28px 28px;
  grid-template-columns: calc(50% - 14px) calc(50% - 14px);
  min-height: 75px;
}

.u-section-5 .u-image-1 {
  transition-duration: 0.5s;
  background-image: url("images/79b809ef-9be4-7474-c429-a0963b94554b.svg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0 -95px 0 33px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-2 {
  transition-duration: 0.5s;
  background-image: url("images/fcab4bc3-5df9-aec8-478c-f510ca488f58.svg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0 -95px 0 33px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-list-2 {
  width: 1140px;
  margin: 20px auto 0;
}

.u-section-5 .u-repeater-2 {
  grid-gap: 28px 28px;
  grid-template-columns: calc(50% - 14px) calc(50% - 14px);
  min-height: 75px;
}

.u-section-5 .u-image-3 {
  transition-duration: 0.5s;
  background-image: url("images/0b7aba2b-69df-0276-7488-86662fad31fd.svg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 8px 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0 -40px 0 33px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-4 {
  transition-duration: 0.5s;
  background-image: url("images/eeb9ff22-b2f0-db05-e71a-fff38ec76e72.svg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 8px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0 -40px 0 33px;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-7 {
  background-image: none;
  font-size: 1.25rem;
  text-align: center;
  width: 907px;
  font-family: "PT Serif";
  margin: 59px auto 0;
}

.u-section-5 .u-btn-5 {
  border-style: none;
  background-image: none;
  font-family: "PT Serif";
  font-size: 1.125rem;
  margin: 33px auto 33px calc(((100% - 1140px) / 2));
  padding: 8px 56px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 696px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 263px);
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-5 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 21px);
    margin-top: -19px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 53px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    margin-top: 33px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 89px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-right: -397px;
    margin-left: 45px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-right: -397px;
    margin-left: 45px;
  }

  .u-section-5 .u-list-2 {
    width: 940px;
    margin-top: 14px;
  }

  .u-section-5 .u-repeater-2 {
    min-height: 86px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 8px;
    margin-left: 53px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 8px;
    margin-left: 53px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 45px;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 20px;
    margin-bottom: 32px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 84px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-line-1 {
    width: 70px;
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-list-2 {
    width: 720px;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 160px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-line-1 {
    width: calc(((100% - 0px) / 2) + 21px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-list-2 {
    width: 540px;
  }

  .u-section-5 .u-btn-5 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: calc(((100% - 450px) / 2));
  }

  .u-section-5 .u-line-1 {
    width: calc(((100% - 530px) / 2) + 24px);
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-list-2 {
    width: 340px;
  }

  .u-section-5 .u-btn-5 {
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-2,
.u-section-5 .u-image-2:before,
.u-section-5 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-0184-22:not([data-block-selected]):not([data-cell-selected]),
.u-block-0184-22:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-0184-22:not([data-block-selected]):not([data-cell-selected]).u-block-0184-22:not([data-block-selected]):not([data-cell-selected]).u-block-0184-22:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-0184-22:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-0184-22.u-block-0184-22.u-block-0184-22.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-0184-22 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-0184-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-0184-24:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-0184-24:not([data-block-selected]):not([data-cell-selected]).u-block-0184-24:not([data-block-selected]):not([data-cell-selected]).u-block-0184-24:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-0184-24:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-0184-24.u-block-0184-24.u-block-0184-24.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-0184-24 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-5 .u-image-4,
.u-section-5 .u-image-4:before,
.u-section-5 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-3,
.u-section-5 .u-image-3:before,
.u-section-5 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: url("images/dee36eca-9a1d-4f69-e837-0b5332378643.svg");
  background-position: 50% 50%;
  min-height: 541px;
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  text-align: left;
  margin: 57px calc(((100% - 1140px) / 2) + 603px) 0 calc(((100% - 1140px) / 2) + 96px);
}

.u-section-6 .u-text-2 {
  font-family: "PT Serif";
  font-size: 1rem;
  margin: -25px calc(((100% - 1140px) / 2) + 112px) 0 calc(((100% - 1140px) / 2) + 693px);
}

.u-section-6 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 52px);
  height: 3px;
  transform-origin: right center 0px;
  text-align: center;
  margin: -21px auto 0 0;
}

.u-section-6 .u-form-1 {
  height: 335px;
  width: 898px;
  margin: 71px auto 57px;
}

.u-section-6 .u-form-group-1 {
  margin-left: auto;
}

.u-section-6 .u-input-1 {
  font-family: "PT Serif";
}

.u-section-6 .u-form-group-2 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-6 .u-input-2 {
  font-family: "PT Serif";
}

.u-section-6 .u-form-group-3 {
  margin-left: auto;
}

.u-section-6 .u-input-3 {
  font-family: "PT Serif";
}

.u-section-6 .u-form-group-4 {
  margin-left: auto;
}

.u-section-6 .u-input-4 {
  font-family: "PT Serif";
}

.u-section-6 .u-form-group-5 {
  margin-left: auto;
}

.u-section-6 .u-input-5 {
  font-family: "PT Serif";
}

.u-section-6 .u-form-group-6 {
  margin-left: auto;
}

.u-section-6 .u-btn-1 {
  font-size: 1rem;
  margin-left: auto;
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  width: 15%;
  text-transform: none;
  font-weight: 700;
  font-family: "PT Serif";
  padding: 7px 4px 7px 3px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 526px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 470px);
    margin-left: calc(((100% - 940px) / 2) + 39px);
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 29px);
    margin-left: calc(((100% - 940px) / 2) + 568px);
  }

  .u-section-6 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 21px);
    transform-origin: left center 0px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 545px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 241px);
    margin-left: calc(((100% - 720px) / 2) + 48px);
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    margin-right: calc(((100% - 720px) / 2) + 241px);
    margin-left: calc(((100% - 720px) / 2) + 48px);
  }

  .u-section-6 .u-line-1 {
    width: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-6 .u-form-1 {
    width: 720px;
  }

  .u-section-6 .u-btn-1 {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 534px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 540px) / 2) + 68px);
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-6 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: calc(((100% - 540px) / 2) + -39px);
  }

  .u-section-6 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 21px);
  }

  .u-section-6 .u-form-1 {
    width: 540px;
  }

  .u-section-6 .u-btn-1 {
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 617px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 37px;
    margin-right: calc(((100% - 340px) / 2) + -29px);
    margin-left: calc(((100% - 340px) / 2) + 29px);
  }

  .u-section-6 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2) + 26px);
    margin-left: calc(((100% - 340px) / 2) + -21px);
  }

  .u-section-6 .u-line-1 {
    width: calc(((100% - 340px) / 2) + 18px);
    margin-top: -36px;
  }

  .u-section-6 .u-form-1 {
    height: 481px;
    width: 340px;
    margin-top: 60px;
    margin-bottom: 27px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.875rem;
  }
}.Rectangle-33 {
  width: 1440px;
  height: 91px;
  margin: 0 0 22px;
  padding: 28px 37px 19px 31px;
  background-color: #002f58;
}

@media (max-width: 470px) {
  .u-section-2 .u-text-1 {
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -210px;
  }

  .u-section-1 .u-image-1 {
    width: 230px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 20px;
  }
}