 .u-section-1 {
  min-height: 587px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-align: left;
  width: 903px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-1 {
  height: 244px;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: "PT Serif";
  width: 902px;
  margin: -217px auto 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  font-family: "PT Serif";
  width: 872px;
  margin: 72px auto 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 749px;
  }

  .u-section-1 {
    height: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -247px;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: 79px 69px 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }
} .u-section-2 {
  min-height: 380px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 19px calc(((100% - 1140px) / 2) + 318px) 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-2 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 52px);
  height: 3px;
  transform-origin: left center 0px;
  margin: -21px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "PT Serif";
  font-size: 1.125rem;
  width: 827px;
  margin: 55px auto 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 19px);
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 20px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + -38px);
    margin-left: calc(((100% - 720px) / 2) + 38px);
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 720px) / 2) + 20px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 14px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 27px);
    margin-top: -18px;
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 19px;
  }
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0px;
    margin-right: 0;
    margin-left: calc(((100% - 490px) / 2) + 35px);
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 500px) / 2) + 24px);
    margin-top: -14px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
} .u-section-3 {
  min-height: 264px;
}

.u-section-3 .u-image-1 {
  height: 215px;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-family: "PT Serif";
  font-size: 1.875rem;
  width: 852px;
  margin: -203px auto 42px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin: -207px 83px 45px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 0;

  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-top: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-top: 69px;
  }
} .u-section-4 {
  min-height: 524px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 2px calc(((100% - 1140px) / 2) + 318px) 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-4 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 52px);
  height: 3px;
  transform-origin: left center 0px;
  margin: -21px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-family: "PT Serif";
  font-size: 1.125rem;
  margin: 59px calc(((100% - 1140px) / 2) + 530px) 0 calc(((100% - 1140px) / 2) + 107px);
}

.u-section-4 .u-text-3 {
  font-family: "PT Serif";
  font-size: 1.125rem;
  text-align: left;
  margin: -420px calc(((100% - 1140px) / 2)) 28px calc(((100% - 1140px) / 2) + 636px);
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 473px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 19px);
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-4 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 20px);
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: 827px;
    margin-right: calc(((100% - 940px) / 2) + 430px);
    margin-left: calc(((100% - 940px) / 2) + 7px);
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin: -375px 0 60px calc(((100% - 940px) / 2) + 487px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 500px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2) + 38px);
  }

  .u-section-4 .u-line-1 {
    width: calc(((100% - 720px) / 2) + 20px);
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2));
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 14px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-4 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 27px);
    margin-top: -18px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: calc(((100% - 540px) / 2));
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-bottom: 28px;
    margin-left: calc(((100% - 540px) / 2));
  }
  .u-section-3 {
    display: none;
  }

  .u-section-1 .u-text-2 {
    font-size: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 70px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -237px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    margin-top: 90px;
  }
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0px;
    margin-right: 0;
    margin-left: calc(((100% - 490px) / 2) + 35px);
  }

  .u-section-4 .u-line-1 {
    width: calc(((100% - 500px) / 2) + 24px);
    margin-top: -14px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-5 {
  min-height: 264px;
}

.u-section-5 .u-image-1 {
  height: 215px;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-family: "PT Serif";
  font-size: 1.875rem;
  width: 842px;
  margin: -203px auto 42px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 1.6875rem;
    width: auto;
    margin: -193px 83px 52px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    margin-top: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    margin-top: 69px;
  }
} .u-section-6 {
  min-height: 760px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 2px calc(((100% - 1140px) / 2) + 419px) 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-6 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 52px);
  height: 3px;
  transform-origin: left center 0px;
  margin: -21px auto 0 0;
}

.u-section-6 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  font-family: "PT Serif";
  text-align: center;
  margin: 77px calc(((100% - 1140px) / 2) + 13px) 0 calc(((100% - 1140px) / 2) + 42px);
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: 65px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-gap: 28px 28px;
  grid-template-columns: calc(50% - 14px) calc(50% - 14px);
  min-height: 75px;
}

.u-section-6 .u-image-1 {
  transition-duration: 0.5s;
  background-image: url("images/79b809ef-9be4-7474-c429-a0963b94554b.svg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0 -95px 0 33px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-image-2 {
  transition-duration: 0.5s;
  background-image: url("images/fcab4bc3-5df9-aec8-478c-f510ca488f58.svg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0 -95px 0 33px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-list-2 {
  width: 1140px;
  margin: 20px auto 0;
}

.u-section-6 .u-repeater-2 {
  grid-gap: 28px 28px;
  grid-template-columns: calc(50% - 14px) calc(50% - 14px);
  min-height: 75px;
}

.u-section-6 .u-image-3 {
  transition-duration: 0.5s;
  background-image: url("images/0b7aba2b-69df-0276-7488-86662fad31fd.svg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 8px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0 -40px 0 33px;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-image-4 {
  transition-duration: 0.5s;
  background-image: url("images/eeb9ff22-b2f0-db05-e71a-fff38ec76e72.svg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 8px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0 -40px 0 33px;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-7 {
  background-image: none;
  font-size: 1.25rem;
  font-family: "PT Serif";
  text-align: center;
  width: 907px;
  margin: 59px auto 0;
}

.u-section-6 .u-btn-5 {
  border-style: none;
  background-image: none;
  font-family: "PT Serif";
  font-size: 1.125rem;
  margin: 33px auto 33px calc(((100% - 1140px) / 2));
  padding: 8px 56px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 696px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 263px);
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-6 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 21px);
    margin-top: -19px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 53px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-top: 33px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 89px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-right: -397px;
    margin-left: 45px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 0;
    margin-left: 45px;
  }

  .u-section-6 .u-list-2 {
    width: 940px;
    margin-top: 14px;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 86px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 8px;
    margin-left: 53px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 8px;
    margin-left: 53px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 45px;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-6 .u-btn-5 {
    margin-top: 20px;
    margin-bottom: 32px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 84px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-line-1 {
    display: none;
    width: calc(((100% - 720px) / 2) + 21px);
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    transform: scale(1) translateX(0px) translateY(0px);
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    transform: scale(1) translateX(0px) translateY(0px);
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-list-2 {
    width: 720px;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-5 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    display: none;
  }
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 21px);
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-list-2 {
    width: 540px;
  }

  .u-section-6 .u-btn-5 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-line-1 {
    width: calc(((100% - 340px) / 2) + 21px);
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-list-2 {
    width: 340px;
  }

  .u-section-6 .u-btn-5 {
    margin-left: calc(((100% - 340px) / 2));
  }
  .u-section-1 .u-text-3 {
    margin-top: 60px;
  }
  .u-section-1 .u-text-2 {
    font-size: 16px;
  }
  .u-section-1 .u-text-2 {
    margin-top: -227px;
  }
}

.u-section-6 .u-image-1,
.u-section-6 .u-image-1:before,
.u-section-6 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-2,
.u-section-6 .u-image-2:before,
.u-section-6 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-c706-22:not([data-block-selected]):not([data-cell-selected]),
.u-block-c706-22:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c706-22:not([data-block-selected]):not([data-cell-selected]).u-block-c706-22:not([data-block-selected]):not([data-cell-selected]).u-block-c706-22:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c706-22:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c706-22.u-block-c706-22.u-block-c706-22.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c706-22 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c706-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-c706-24:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c706-24:not([data-block-selected]):not([data-cell-selected]).u-block-c706-24:not([data-block-selected]):not([data-cell-selected]).u-block-c706-24:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c706-24:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c706-24.u-block-c706-24.u-block-c706-24.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c706-24 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-6 .u-image-4,
.u-section-6 .u-image-4:before,
.u-section-6 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-3,
.u-section-6 .u-image-3:before,
.u-section-6 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-7 {
  background-image: url("images/dee36eca-9a1d-4f69-e837-0b5332378643.svg");
  background-position: 50% 50%;
  min-height: 541px;
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  text-align: left;
  margin: 57px calc(((100% - 1140px) / 2) + 603px) 0 calc(((100% - 1140px) / 2) + 96px);
}

.u-section-7 .u-text-2 {
  font-family: "PT Serif";
  font-size: 1rem;
  margin: -25px calc(((100% - 1140px) / 2) + 112px) 0 calc(((100% - 1140px) / 2) + 693px);
}

.u-section-7 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 52px);
  height: 3px;
  transform-origin: right center 0px;
  text-align: center;
  margin: -21px auto 0 0;
}

.u-section-7 .u-form-1 {
  height: 335px;
  width: 898px;
  margin: 71px auto 57px;
}

.u-section-7 .u-form-group-1 {
  margin-left: auto;
}

.u-section-7 .u-input-1 {
  font-family: "PT Serif";
}

.u-section-7 .u-form-group-2 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-7 .u-input-2 {
  font-family: "PT Serif";
}

.u-section-7 .u-form-group-3 {
  margin-left: auto;
}

.u-section-7 .u-input-3 {
  font-family: "PT Serif";
}

.u-section-7 .u-form-group-4 {
  margin-left: auto;
}

.u-section-7 .u-input-4 {
  font-family: "PT Serif";
}

.u-section-7 .u-form-group-5 {
  margin-left: auto;
}

.u-section-7 .u-input-5 {
  font-family: "PT Serif";
}

.u-section-7 .u-form-group-6 {
  margin-left: auto;
}

.u-section-7 .u-btn-1 {
  font-size: 1rem;
  margin-left: auto;
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  width: 15%;
  text-transform: none;
  font-weight: 700;
  font-family: "PT Serif";
  padding: 7px 4px 7px 3px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 526px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 470px);
    margin-left: calc(((100% - 940px) / 2) + 39px);
  }

  .u-section-7 .u-text-2 {
    display: none;
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 29px);
    margin-left: calc(((100% - 940px) / 2) + 568px);
  }

  .u-section-7 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 21px);
    transform-origin: left center 0px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 545px;
  }

  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 241px);
    margin-left: calc(((100% - 720px) / 2) + 48px);
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
    margin-right: calc(((100% - 720px) / 2) + 241px);
    margin-left: calc(((100% - 720px) / 2) + 48px);
  }

  .u-section-7 .u-line-1 {
    width: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-7 .u-form-1 {
    width: 720px;
  }

  .u-section-7 .u-btn-1 {
    width: 100%;
    font-weight: normal;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 534px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 540px) / 2) + 68px);
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: calc(((100% - 540px) / 2) + -39px);
  }

  .u-section-7 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 21px);
    margin-top: 20px;
  }

  .u-section-7 .u-form-1 {
    width: 540px;
  }

  .u-section-7 .u-btn-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 617px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 37px;
    margin-right: calc(((100% - 340px) / 2) + -29px);
    margin-left: calc(((100% - 340px) / 2) + 29px);
  }

  .u-section-7 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2) + 26px);
    margin-left: calc(((100% - 340px) / 2) + -21px);
  }

  .u-section-7 .u-line-1 {
    width: calc(((100% - 340px) / 2) + 18px);
    margin-top: -36px;
  }

  .u-section-7 .u-form-1 {
    height: 481px;
    width: 340px;
    margin-top: 60px;
    margin-bottom: 27px;
  }

  .u-section-7 .u-btn-1 {
    font-size: 0.875rem;
  }
}.Rectangle-33 {
  width: 1440px;
  height: 91px;
  margin: 0 0 22px;
  padding: 28px 37px 19px 31px;
  background-color: #002f58;
}

@media (max-width: 425px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 {
    margin-top: 120px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 357px) {
  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 {
    margin-top: 80px;
  }
}
